# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [19]:
'C:\\Users\\Katerina\\anaconda3\\pkgs'

'C:\\Users\\Katerina\\anaconda3\\pkgs'

In [21]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp38-cp38-win_amd64.whl (11.0 MB)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp38-cp38-win_amd64.whl (14.9 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\katerina\appdata\roaming\python\python38\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\katerina\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.2 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\Katerina\azuredatastudio-python\python.exe -m pip install --upgrade pip' command.

In [92]:
import sqlite3 as sl
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [25]:
con = sl.connect('exercises.db')
print(con)

<sqlite3.Connection object at 0x00000248D5E6D3F0>

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [78]:
#Create a new table in your database.
with con:
    con.execute(""" 
        CREATE TABLE favorite_books3 (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT ,
            author TEXT,
            description TEXT
        );
    """)

In [79]:
sql = 'INSERT INTO favorite_books3 (id, title, author, description) values (? , ? , ? , ?)'
data = [
    (1, 'Cat Book' , 'Katerina', 'Book about cats'),
    (2, 'Dog Book' , 'Alina', 'Book about dogs'),
    (3, 'Greek Book', 'Kosta', 'Book about Greece')
]

In [80]:
with con:
    con.executemany(sql, data)

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [18]:
# Add your 3 favorite books to your table.
# done above

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [81]:
# Write your SELECT query here.
with con:
    data = con.execute('SELECT * FROM favorite_books3 WHERE id = 3')
    for row in data:
        print(row)

(3, 'Greek Book', 'Kosta', 'Book about Greece')

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [84]:
data = {'id': [1, 2, 3],
        'fav movie': ['Avatar' , 'American History X', 'American Beauty'],
        'genre': ['Action', 'Historical' , 'Thriller']
        }

df = pd.DataFrame(data, columns= ['id', 'fav movie' , 'genre'])
print (df)

   id           fav movie       genre
0   1              Avatar      Action
1   2  American History X  Historical
2   3     American Beauty    Thriller

In [87]:
# Use Pandas to make a new table in your database.
#df.to_sql('favorite_movies', con, if_exists = 'replace' , index = False )

3

In [93]:
c = con.cursor()
c.execute('CREATE TABLE IF NOT EXISTS favorite_movies (id , fav movie , genre )')
con.commit()
data = {'id': [1, 2, 3],
        'fav movie': ['Avatar' , 'American History X', 'American Beauty'],
        'genre': ['Action', 'Historical' , 'Thriller']
        }
df = pd.DataFrame(data, columns = ['id', 'fav movie' , 'genre'])
df.to_sql('favorite_movies', con, if_exists = 'replace' , index = False )

c.execute('''
SELECT * FROM favorite_movies
        ''')
for row in c.fetchall():
    print(row)

(1, 'Avatar', 'Action')
(2, 'American History X', 'Historical')
(3, 'American Beauty', 'Thriller')

<sqlite3.Cursor object at 0x00000248E64D9110>